@import './colors.scss';

.container{
    max-width: 1500px;
    box-shadow: 10px 5px 5px $mainColor;
    background-color: grey;
    margin: auto;
    .inputContainer{
        max-width: 500px;
        margin: auto;
        padding: 20px;

        .mantine-InputWrapper-root{
            margin-bottom: 30px;
            .mantine-InputWrapper-description{
                color: white;
            }
        }
    }

    
}
